{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blog du python</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'blog.css' %}">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"> -->
	</head>
<body>
	<div class="page-header">
		<h1><a href="/">Blog du python</a></h1>
		{% if user.is_active %}
			Welcome {{user.username}}
			<a href="{% url 'blog.views.post_logout' %}" class="top-menu"><span class="glyphicon glyphicon-off"></span></a>
			<a href="{% url 'blog.views.post_list' %}" class="top-menu2"><span class="glyphicon glyphicon-folder-open"></span></a>
			<a href="{% url 'blog.views.contact' %}" class="top-menu3"><span class="glyphicon glyphicon-envelope"></span></a>
			<a href="{% url 'blog.views.post_new' %}" class="top-menu4"><span class="glyphicon glyphicon-plus"></span></a>
		{% else %}
			<a href="{% url 'blog.views.register' %}" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
		{% endif %}
	</div>
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
			{% block content %}
			{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>